<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org/">
<head th:replace="~{fragments::head}">
</head>

<body>
<!-- Start Main Top -->
<div th:replace="~{fragments::main-top}">

</div>
<!-- End Main Top -->

<!-- Start Main Top -->
<header th:replace="~{fragments::main-header}" >
</header>
<!-- End Main Top -->

<!-- Start Top Search -->
<div th:replace="~{fragments::top-search}">
</div>
<!-- End Top Search -->

<section id="register-form">
    <div class="noi-dung">
        <div class="form">
            <h2>Register</h2>
            <form action="">
                <div class="input-form">
                    <input type="text" placeholder="Name" name="">
                </div>
                <div class="input-form">
                    <input type="password" placeholder="Password" name="">
                </div>
                <div class="input-form">
                    <input type="password" placeholder="Verify password" name="">
                </div>
                <div class="input-form">
                    <p>Do you already have an account ? <a href="login.html"> Sign in now </a></p>
                </div>
                <div class="input-form">
                    <input type="submit" value="Sign up">
                </div>
            </form>
            <h3>Login in with social network</h3>
            <ul class="icon-dang-nhap">
                <li><i class="fab fa-facebook-f"></i></li>
                <li><i class="fab fa-google"></i></li>
                <li><i class="fab fa-weibo"></i></li>
            </ul>
        </div>
    </div>
</section>
<!-- Start All Title Box -->
<div th:replace="~{fragments :: instagram-box}">
</div>
<!-- End All Title Box -->
<!-- Start copyright  -->
<footer th:replace="~{fragments::footer}"></footer>
<!-- End copyright  -->

<a href="#" id="back-to-top" title="Back to top" style="display: none;">&uarr;</a>

<!-- ALL JS FILES -->
<div th:replace="~{fragments::script}"></div>
</body>

</html>